
            <form action="./novoUsuario" method="post" accept-charset="utf-8">
                
                    <label for="nome">Nome:</label>
                
                <input type="text" name="nome" id="nome" valeu="" required/>

                <label for="nome">E-mail:</label>
                
                <input type="email" name="email" id="email" valeu="" required/>
                
                    <label for="text">Senha:</label>
                
                <input type="password" name="senha" id="senha" valeu="" required/>
                   
                <span class="message"></span>                   
                
                <input id="send"  type="submit" value="Adicionar">

            </form>

            <script type="text/javascript" src="/script.js" charset="utf-8"></script>