<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>mangastream</title>
    <link href="/css/style.css" rel="stylesheet">
    
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">

        /*$(function() {
          $('#btnCadastro').click(function() {
           
            $.ajax({
              type: "GET",
              url: "cadastro",
              dataType: 'html',
              success: function(result) {
                if(result == 1){
                  console.log("conected");
                  location.href='cadastro';//Redirecs
                }
                else{
                  console.log(result);
                  document.getElementById("msg").innerHTML = "Deu ruim ein...Credenciais erradas";
                }
              }
            });
            return false;
          });
        });*/

      $(document).ready(function(){
        $(".buscarPagina").click(function(){
            //Aqui estau retirando o conteudo da propriedade href “o link destino” e colocando em uma variavel
            var link = $(this).attr('href');
            console.log("ola");
            $.ajax
            ({
                dataType: 'html',
                url: link, //link da pagina que o ajax buscará
                type: 'GET',
                success: function(data)
                {
                  $("#content").html(data).fadeIn(340); //Inserindo o retorno da pagina ajax
                },
                error: function(data){
                    $("#content").html("<center><p>ERRO ao carregar outra pagina</p></center>").fadeIn(300); //Em caso de erro ele exibe esta mensagem
                }
            }); 
         
        });
    });



     /* function loadCadastro() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              document.getElementById("container").innerHTML =
              this.responseText;
            }
          };
          xhttp.open("GET", "cadastro.html", true);
          xhttp.send();
        }


      window.onload = function(){
        document.querySelector("#cadastroMenu").addEventListener("click", function () {
                    var container = document.querySelector('#container');
                
                    var xmlhttp = new XMLHttpRequest();
                    xmlhttp.open("GET", "cadastro", true);
                    xmlhttp.onreadystatechange = function () {
                        if (xmlhttp.readyState === 4 && xmlhttp.status === 200){
                            container.innerHTML = xmlhttp.responseText;
                            }else {
                              console.log("erro");
                            }
                    };
                    xmlhttp.send(null);
                });
      }*/

    </script>
  </head>

  <body>
    <header>
      <div class="logo">
        <img src="images/logo.png" height="50" alt "logo"/>
      </div>
      <div class="social">
        <img src="images/facebook.png" width="30" height="30" alt "facebook"/>
        <img src="images/twitter.png" width="38" height="37" alt "twitter"/>
      </div>
    </header>

    <nav>
        <ul>
         <li><a class="nav-home" href="">Home</a></li> </div>
            <li class="dropdown"><a href="">Read Manga <img src="/images/triang_menu.png"/></a>
              <ul> 
                  <li><a class="dropdownColor" href="#">Attack on Titan</a></li> 
                  <li><a class="dropdownColor" href="#">Berserk</a></li> 
                  <li><a class="dropdownColor" href="#">Dragon Ball Super</a></li> 
                  <li><a class="dropdownColor" href="#">Haikyuu!!</a></li> 
                  <li><a class="dropdownColor" href="#">Hajime no Ippo</a></li> 
                  <li><a class="dropdownColor" href="#">My Hero Academia</a></li> 
                  <li><a class="dropdownColor" href="#">One Piece</a></li> 
                  <li><a class="dropdownColor" href="#">One Punch Man</a></li> 
                  <li><a class="dropdownColor" href="#">Promised Neverland</a></li> 
                  <li><a class="dropdownColor" href="#">Shokugeki no Souma</a></li> 
                  <li><a class="dropdownColor" href="#">The Seven Deadly Sins</a></li> 
                  <li><a class="dropdownColor" href="#">Tokyo Ghoul:re</a></li> 
                  <li class="divider"></li>
                  <li><a class="dropdownColor" href="#">Full List</a></li> 
                </ul>
            </li>
            <li><a href="">Recruitment</a></li>
            <li><a href="">Color Pages</a></li>
          </ul>
          <ul class="menu2">
            <li><a href="/novaPublicacao" onclick="return false" class="buscarPagina">Nova Publicação</a></li>
            <li><a href="/login" onclick="return false" class="buscarPagina">Login</a></li>
            <li><a href="/logout" >Logout</a></li>
            <li><a onclick="return false" id="btnCadastro" href="/cadastro" class="buscarPagina">Cadastro</a></li>
          </ul>
    </nav>

    <div id="content">

    <div class="imagens">
      <div class="img">
        <img src="images/img1.png"/>
        <img src="images/img2.png"/>
        <img src="images/img3.png"/>
      </div>
        <div class="ad">
          <img src="images/ad.png"/>
      </div>
    </div>    

    
    <div class="conteudo">
      <div class="text">
          {{#publicacoes}}
            {{!-- <h2> </h2> --}}
            <h1>
              {{titulo}}
              <small>
                {{dateFormat date "DD/MM/YYYY"}}
                <strong>
                  {{usuario}}
                </strong>
              </small>
            </h1>
            <p>{{texto}}</p>
          {{/publicacoes}}

        <div class="divider2"></div>
        <div class="botoes">
          <btn>
            <a href="">← Newer</a>
          </btn>
          <btn>
              <a href="">Older →</a>
          </btn>
        </div>
      </div>
      <div class="container">
          <h2 class="listTitulo">New Releases</h2>
            <ul class="list">
                <li><span>X</span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, quidem!</li>
                <li><span>X</span>Alias, placeat. Distinctio id officia perspiciatis praesentium, facere possimus nesciunt?</li>
                <li><span>X</span>Dolorum quae quibusdam provident eos esse nesciunt quas voluptate voluptates.</li>
                <li><span>X</span>Quae quod similique error, vero earum delectus nihil quaerat odio?</li>
                <li><span>X</span>Eaque placeat, maiores harum quaerat amet quae repudiandae assumenda quas?</li>
            </ul>
        </div>
    </div>
    </div>
    
  </body>
</html>

