<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>mangastream</title>

    <link href="./style.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="logo">
        <img src="images/logo.png" height="50" alt "logo"/>
      </div>
      <div class="social">
        <img src="images/facebook.png" width="30" height="30" alt "facebook"/>
        <img src="images/twitter.png" width="38" height="37" alt "twitter"/>
      </div>
    </header>

    <nav>
        <ul>
         <li><a class="nav-home" href="">Home</a></li> </div>
            <li class="dropdown"><a href="">Read Manga <img src="images/triang_menu.png"/></a>
              <ul> 
                  <li><a class="dropdownColor" href="#">Attack on Titan</a></li> 
                  <li><a class="dropdownColor" href="#">Berserk</a></li> 
                  <li><a class="dropdownColor" href="#">Dragon Ball Super</a></li> 
                  <li><a class="dropdownColor" href="#">Haikyuu!!</a></li> 
                  <li><a class="dropdownColor" href="#">Hajime no Ippo</a></li> 
                  <li><a class="dropdownColor" href="#">My Hero Academia</a></li> 
                  <li><a class="dropdownColor" href="#">One Piece</a></li> 
                  <li><a class="dropdownColor" href="#">One Punch Man</a></li> 
                  <li><a class="dropdownColor" href="#">Promised Neverland</a></li> 
                  <li><a class="dropdownColor" href="#">Shokugeki no Souma</a></li> 
                  <li><a class="dropdownColor" href="#">The Seven Deadly Sins</a></li> 
                  <li><a class="dropdownColor" href="#">Tokyo Ghoul:re</a></li> 
                  <li class="divider"></li>
                  <li><a class="dropdownColor" href="#">Full List</a></li> 
                </ul>
            </li>
            <li><a href="">Recruitment</a></li>
            <li><a href="">Color Pages</a></li>
          </ul>
          <ul class="menu2">
            <li><img class="imdDonate" src="images/donate.png" height="14"/></li>
            <li><a href="">Donate</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Register</a></li>
          </ul>
    </nav>

    <div class="imagens">
      <div class="img">
        <img src="images/img1.png"/>
        <img src="images/img2.png"/>
        <img src="images/img3.png"/>
      </div>
        <div class="ad">
          <img src="images/ad.png"/>
      </div>
    </div>    

    
    <div class="conteudo">
    <div class="text">
      <h1>
          A New Blog Post
          <small>
            Posted Nov 1st, 2017 by
            <strong>
                Jinn
            </strong>
          </small>
      </h1>

        <p>
          Wow, I can't believe it's been almost a year since the last blog post. Sorry about that folks. We still love ya all. 
        </p>
        <p>
          The last year's just been pretty rough, schedule changes and personal matters have had their toll on us and the amount of energy and time we had left over for scanlators-to-fans communication was subsequently pretty limited. However, things are beginning to easen up again, so here we are, back.
        </p>
        
        <p>
          Didn't just come back, either. We've listened to all the great feedback you've been providing and worked on this elaborate project behind the scenes to hopefully start getting rid of all the bad ads, the unfortunate by-product of keeping us up and running.
          Check<strong> <a href="">this page </a></strong>   for all the info on that.
        </p>
        <p>
          Along with that stuff, we have also implemented our very own discussion software, coded from scratch by our awesome admin. So if you've been a frequent participant in discussions on our site, make sure to get an account or use the social sign in and you're good to go. Obviously, all this stuff is new, so if you come across any bugs, please just report them here and we'll take care of it asap.
        </p>
        <p>
          What else is there? Oh right. A public service announcement: Nothing changes, you don't have to become a "supporter" to keep reading manga here, and that'll never change. So please don't stress. This is just for those who want to donate on a regular basis. 
        </p>
        <p>
          If you do however generously decide to become a supporter, chances are we can get rid of ads completely in the future. We're also brain-storming a few additional perks. One of them, my favorite, is to put together a "translator magazine" of sorts, with articles and opinion pieces by our staff, elaborate translation notes, reviews, that sort of thing, maybe even with some public participation and a Q&A corner - that sound like something you'd be interested in? I'll pay special attention to the posters saying "yes" who have a certain badge next to their names. ;)
        </p>
        <p>
          Anyway, that's all we had to say for now. There was a lot of new code added, so please bear with us if anything breaks, we'll try and take care of it asap. <3
        </p>
        <p>
          Edit: To comment on this blog, click on the title.
        </p>
        <div class="divider2"></div>
        <h1>
            Road to Fluency #1: Goals & Motivation
            <small>
                Posted Nov 13th, 2016 by 
              <strong>
                  beta
              </strong>
            </small>
        </h1>
  
          <p>
              Hey there, Anon here. In the comments many of you ask us how we learned Japanese. 
              I decided to write a short blog series about how I, personally, learned the language since you all seem to be really interested in how the process can go - there's plenty of other paths than my own, naturally. Today we'll be covering reasons for learning the language and setting appropriate 
              goals. 
              This series will be written from the point of view of a self-learner. I will cover classroom learning in another post later in this series. 
          </p>
         
          <h2>
              Goals & Motivation
          </h2>
        
          </p>
          <p>
              So you've decided to learn Japanese, great. Many of you are most likely not sure how to embark on this enormous task. One common mistake is not setting any short, mid, and long term goals. How motivated are you really, how much time are you willing to invest on a daily/weekly basis and what would you like to achieve? This could be reading manga, watching anime, reading novels, playing Karuta, communicating with your significant other or friends, traveling, acquiring linguistic knowledge, having fun, and the list goes on and on. There are two different kinds of motivation I will talk about: the intrinsically and the extrinsically driven.
            </p>
            <h2>
                Intrinsic motivation
            </h2>
          <p>
              This is the kind of motivation that comes from within. It is usually something you like doing. Some examples of this would be:
          </p>
            <ul class="texto">
              <li>Playing any kinds of sports because you find it challenging </li>
              <li>Playing any kinds of sports because you find it challenging </li>
              <li>Playing any kinds of sports because you find it challenging </li>
            </ul>
          <p>
            Along with that stuff, we have also implemented our very own discussion software, coded from scratch by our awesome admin. So if you've been a frequent participant in discussions on our site, make sure to get an account or use the social sign in and you're good to go. Obviously, all this stuff is new, so if you come across any bugs, please just report them here and we'll take care of it asap.
          </p>
          <p>
            What else is there? Oh right. A public service announcement: Nothing changes, you don't have to become a "supporter" to keep reading manga here, and that'll never change. So please don't stress. This is just for those who want to donate on a regular basis. 
          </p>
          <p>
            If you do however generously decide to become a supporter, chances are we can get rid of ads completely in the future. We're also brain-storming a few additional perks. One of them, my favorite, is to put together a "translator magazine" of sorts, with articles and opinion pieces by our staff, elaborate translation notes, reviews, that sort of thing, maybe even with some public participation and a Q&A corner - that sound like something you'd be interested in? I'll pay special attention to the posters saying "yes" who have a certain badge next to their names. ;)
          </p>
          <p>
            Anyway, that's all we had to say for now. There was a lot of new code added, so please bear with us if anything breaks, we'll try and take care of it asap. <3
          </p>
          <p>
            Edit: To comment on this blog, click on the title.
          </p>
          <div class="divider2"></div>
          <div class="botoes">
            <btn>
              <a href="">← Newer</a>
            </btn>
            <btn>
                <a href="">Older →</a>
            </btn>
        </div>
      </div>
      <div class="container">
          <h2 class="listTitulo">New Releases</h2>
            <ul class="list">
                <li><span>X</span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, quidem!</li>
                <li><span>X</span>Alias, placeat. Distinctio id officia perspiciatis praesentium, facere possimus nesciunt?</li>
                <li><span>X</span>Dolorum quae quibusdam provident eos esse nesciunt quas voluptate voluptates.</li>
                <li><span>X</span>Quae quod similique error, vero earum delectus nihil quaerat odio?</li>
                <li><span>X</span>Eaque placeat, maiores harum quaerat amet quae repudiandae assumenda quas?</li>
            </ul>
        </div>
    </div>
    
  </body>
</html>

